*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	background: #046574;
	background: linear-gradient(139deg,#acf494cb 0%,#f5a0cbb6 90%);
	font-family: Arial, sans-serif;
}
header{
	display: flex;
	justify-content: center;
	font-size: 32px;
	margin-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.container{
	position: relative;
	max-width: 800px;
	margin: 50px auto;
	padding: 100px;
	background-color: #c4eef3;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.addTask{
	width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.addTask > input[type="text"]{
	width: 75%;
	color: #032a43;
	border: none;
	border-bottom: 2px solid #666666;
	background: none;
	padding: 10px;
	font-size: 22px;
	outline: none;
	font-family: inherit;
}

.addTask button{
	margin-left: 10px;
  background: #222;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.addTask :hover{
	background-color: rgba(195, 45, 15, 0.948);
	color: white;
 }
.notCompleted, .Completed{
	margin: 5px 0;
	padding: 20px;
}
h2{
	font-size: 28px;
	text-align: center;
	color: #b56def;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}
ol{
	list-style: none;
	counter-reset: my-counter;
}
ol li{
  position: relative;
  width: 100%;
  padding: 18px;
  margin: 5px 0;
  background: #e3f2fd;
  font-size: 22px;
  counter-increment: my-counter;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
ol.Completed li{
	background: #f6c171;
	color: #f6c171;
}
ol li::before{
	content: counter(my-counter);
	background: #231381;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	line-height: 2rem;
	text-align: center;
	color: #fff;
	margin-right: 0.5rem;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
li button{
	
	float: right;
	padding: 5px;
	font-size: 28px;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}